Client/Service References/ClientServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LogService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILogService_LogFil_InputMessage">
    <wsdl:part name="parameters" element="tns:LogFil" />
  </wsdl:message>
  <wsdl:message name="ILogService_LogFil_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogFilResponse" />
  </wsdl:message>
  <wsdl:message name="ILogService_GetLast_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLast" />
  </wsdl:message>
  <wsdl:message name="ILogService_GetLast_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastResponse" />
  </wsdl:message>
  <wsdl:portType name="ILogService">
    <wsdl:operation name="LogFil">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogService/LogFil" message="tns:ILogService_LogFil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogService/LogFilResponse" message="tns:ILogService_LogFil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLast">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogService/GetLast" message="tns:ILogService_GetLast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogService/GetLastResponse" message="tns:ILogService_GetLast_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILogService" type="tns:ILogService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogFil">
      <soap:operation soapAction="http://tempuri.org/ILogService/LogFil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLast">
      <soap:operation soapAction="http://tempuri.org/ILogService/GetLast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LogService">
    <wsdl:port name="BasicHttpBinding_ILogService" binding="tns:BasicHttpBinding_ILogService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>